
<!DOCTYPE html>
<html lang="en-US">
	<head>
    <meta charset="utf-8">
	</head>
    <body>

	<h1>Batalla Naval</h1>

    <p>Tu tablero tiene tamanio: (<%= "#{@tablero.get_columnas} , #{@tablero.get_nro_filas}" %>)</p>

    <form method="POST" action="crearBarco">
		 <%= csrf_token_field %>
		 Poner barco chico en el tablero con coordenadas:
        <br/>
		<input type="text" name="posX" />
        <input type="text" name="posY" />
		<input type="submit" value="crearBarcoChico" id="boton_enviar"/>
	</form>
    </br>
    <form method="POST" action="crearBarcoGrande">
      <%= csrf_token_field %>
      Poner barco grande en el tablero con coordenadas:
      <br/>
      <input type="text" name="gran_posX" />
      <input type="text" name="gran_posY" />
      <input type="submit" value="crearBarcoGrande" id="boton_barco_grande"/>
    </form>
    </br>
    <form method="POST" action="disparar">
      <%= csrf_token_field %>
      Disparar en :
      <br/>
      <input type="text" name="shoot_X" />
      <input type="text" name="shoot_Y" />
      <input type="submit" value="disparar" id="boton_disparo"/>
    </form>
    </br>
    <% if @posicion.present? %>
        <p>Posicion de barco Actual es: <%= @posicion %></p>
    <% end %>
    <% if @disparo.present? %>
        <p>Tu disparo fue: <%= @disparo %></p>
    <% end %>
    </body>
</html>